.about-us-wrapper {
    background-color: #62889a;
    transform: translate(0px, 0px);

    section {
        center {
            .embed-responsive.embed-responsive-16by9 {

                width: 100%;
                padding: 12px;

                iframe {
                    width: 100%;
                    height: 30rem;
                    border-radius: 1.25rem;
                }

                @media screen and (max-width:768px) {
                    iframe {
                        height: 100%;
                    }
                }
            }

            @media screen and (max-width:768px) {
                .embed-responsive.embed-responsive-16by9 {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        section {
            padding-bottom: 80px;
        }
    }
}

@media screen and (max-width:768px) {
    .about-us-wrapper {
        padding-bottom: 160px;
    }
}

.about-features-section {
    background-color: #f3f4f5;

    .left-container {
        justify-content: center;
        text-align: center;
        padding-top: 125px;

        .header-wrapper {
            text-align: justify;
            letter-spacing: 0px;
        }

        .button-wrapper {
            button {
                transition: transform 1s;
            }

            button:hover {
                transform: rotateY(360deg);
            }
        }

        @media screen and (max-width:768px) {
            .header-wrapper {
                text-align: justify;
                letter-spacing: 0px;
            }
        }
    }

    .right-container {
        .img-wrapper {
            padding-bottom: 32px;

            img {
                object-fit: cover;
                width: 100%;
                height: 400px;
            }
        }
    }

}

.chairman-message {
    background-color: #607d8b;
    color: white;
    padding: 6px 0px;
    padding-bottom: 95px;

    .row {
        .image-wrapper {
            display: flex;

            img {
                max-width: 60%;
                height: auto;
                border-radius: 50%;
                object-fit: cover;
            }

            .word-wrapper {
                text-align: center;
                margin: auto;
            }
        }

        @media screen and (max-width:768px) {
            .col-sm-12.col-lg-3.first-para {
                padding-top: 20px;
            }
        }
    }
}